.btn {
    color: white !important;
    border-color: white !important;
    margin: 10px;
}

.r1 {
    border: 8px solid rgb(5, 224, 252, 0.5);
    background-color: rgb(5, 224, 252, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.r2 {
    border: 8px solid rgb(127,255,122, 0.5);
    background-color: rgb(127,255,122, 0.5);
}
.r3 {
    border: 8px solid rgb(205, 92, 92, 0.5);
    background-color: rgb(205, 92, 92, 0.5);
}
.r4 {
    border: 8px solid rgb(255, 187, 98, 0.5);
    background-color: rgb(255, 187, 98, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#connectionStatus {
    margin-top: 15px;
}

.connect {
    width: 40px;
    font-size: 12px;
    padding: 7px;
}

.lines {
    width: 40px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: -14px !important; */
} 
.lines:hover {
    background-color: lightseagreen;
}
.lines-pressed{
    background-color: lightseagreen !important;
}

.bass {
    width: 130px;
}
.bass:hover {
    background-color: rgb(5, 224, 252, 0.7);
}
.bass-pressed {
    background-color: rgb(5, 224, 252, 0.7) !important;
}

/* Snare Drum buttons */
.snare {
    width: 130px;
}
.snare:hover {
    background-color: rgb(127,255,122, 0.8);
}
.snare-pressed {
    background-color: rgb(127,255,122, 0.8) !important;
}

.open {
    width: 130px;
}
.open:hover {
    background-color: indianred;
}
.open-pressed {
    background-color: indianred !important;
}

.close {
    width: 130px;
}
.close:hover {
    background-color: rgba(255, 187, 98, 0.9);
}
.close-pressed {
    background-color: rgba(255, 187, 98, 0.9) !important;
}
